.header{
	background: #f2f2f2;
	width: 100%;
}

.header-top{
	background: #3c5ea8;
	color: #fff;
	padding: 5px 0;
	font-size: 1.5em;
	margin: 0 0 -1px 0;
	z-index: 10;
	position: relative;
}

.fa-phone{
	color: #f49708;
}

.header-tel a{
	color: #fff;
}

.header-tel a:hover{
	text-decoration: none;
	color: #f49708;
}

.header-face, .header-mail{
	display: none !important;
}



#carouselExampleIndicators img{
	max-height: 603px !important;	
}

.slider{
	display: none;
}

.header-bg{
	position: absolute !important;
	z-index: 1;
	height: 300px;
	width: 100%;
}


/*
.mascara-slider{
  height: 100%;
  width: 50%;
  background: rgba(15, 215, 115, 0.5);
  z-index: 10;
  position: absolute;
}*/

/*
.carousel-item{
	position: relative !important;;
}

.mascara-slider{
	background-image: url("assets/images/backgrounds/bg-mask.png");
	position: absolute !important;
	background-repeat: repeat;
	background-size: cover;
	background-attachment: fixed;
	z-index: 1000;
}*/






.header-bloco2{
	position: absolute;
	z-index: 10;
	width: 100%;
	margin-top: 2%;
}



.logo{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
    justify-content: space-between;	
    margin: 1% 0 0 0;
}



.logo img{
	max-width: 80%;
}

.btn-simula-topo{
	display: none;	
}

.nav-top2{
	width: 100%;
	margin: 10px 0 0 0;
}

.btn-simula-topo2{
	padding: 8px 15px;
	border: 3px solid #f49708;
	color: #fff;
	font-size: 1em;
	font-weight: 700;
	overflow: hidden;
	border-radius: 20px;

	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;	
}


.btn-simula-topo2 span{
	color: #f49708
}

.btn-simula-topo2:hover span{
	color: #fff;
}

.btn-simula-topo2:hover{
	background: #f49708;
	color: #fff;
	text-decoration: none;

	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;	

	border: 3px solid #fff;	
}




/* MENU SWIPE */
nav {
    height: 100%;
    width: 280px;
    background-color: #3d5fa8;
    left: 0;
    top: 0;
    z-index: 100;
    position: fixed;
    overflow-y: auto;
    overflow-x: visible;
    -webkit-transform: translate(-280px,0);
        -ms-transform: translate(-280px,0);
            transform: translate(-280px,0);
}
/* overlay layer */
.ssm-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.2);
    display: none;
    z-index: 100;
}

/* prevent scroll when nav is open */
.is-navOpen{
  overflow: hidden;
}

.nav-flex{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-size: .8em;
	color: #fff;

	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;	
}

.fa-bars{
	font-size: 3.5em;	
}

.nav-flex:hover{
	text-decoration: none;
	color: #f49708;

	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;	
}

.nav-logo img{
	max-width: 70% !important;
	margin: 30px auto 20px auto;
}

.nav-menu-flex{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	padding: 20px 30px;
}

.nav-menu-flex a{
	color: #fff;
	font-size: 1.2em;
	text-transform: uppercase;
	width: 100%;
	text-align: left;
	padding: 5px;
	border-bottom: 1px solid rgba(255,255,255,.2);

	-webkit-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;	
}

.nav-menu-flex a:hover{
	background: #fff;
	color: #f49708;
	text-decoration: none;

	-webkit-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;	
}

.nav-exit{
	width: 100%;
	margin: 30px 0 0 0;
}

.nav-exit a{
	color: #fff;
	padding: 10px 15px;
	border: 1px solid #fff;
	border-radius: 5px;	

	-webkit-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;		
}

.nav-exit a:hover{
	color: #3d5fa8;
	padding: 10px 15px;
	border: 1px solid #fff;
	background: #fff;
	text-decoration: none;

	-webkit-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;		
}




.header-txt{
	display: none;
}


















/**************************************************************************************************************************/
@media screen and (min-width: 720px) {


.header{
	background: #f2f2f2;
	width: 100%;
	max-height: 603px !important;	
}

.header-top{
	background: #3c5ea8;
	color: #fff;
	padding: 5px 0;
	font-size: 1em;
	margin: 0 0 -1px 0;
	z-index: 10;
	position: relative;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;	
	-ms-flex-wrap: wrap;	
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}

.fa-phone, .fa-facebook, .fa-envelope{
	margin: 0 3px 0 0;
	color: #f49708;
}

.fa-facebook, .fa-envelope{
	margin: 0 3px 0 10px;	
}

.header-face, .header-mail{
	display: block !important;
}


#carouselExampleIndicators img{
	max-height: 603px !important;	
}

.header-bg{
	display: none;
}

.slider{
	display: block;
}

/*
.mascara-slider{
  height: 100%;
  width: 50%;
  background: rgba(15, 215, 115, 0.5);
  z-index: 10;
  position: absolute;
}*/

/*
.carousel-item{
	position: relative !important;;
}

.mascara-slider{
	background-image: url("assets/images/backgrounds/bg-mask.png");
	position: absolute !important;
	background-repeat: repeat;
	background-size: cover;
	background-attachment: fixed;
	z-index: 1000;
}*/






.header-bloco2{
	position: absolute;
	z-index: 10;
	width: 100%;
	margin-top: 0%;
}



.logo{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;	

    margin: 5% 0 0 0;
}



.logo img{
	max-width: 270px;
}

.btn-simula-topo2{
	display: none;
}

.btn-simula-topo{
	padding: 8px 15px;
	border: 3px solid #f49708;
	color: #fff;
	font-size: 1.8em;
	font-weight: 700;
	border-radius: 20px;

	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;

	display: block;		
}

.btn-simula-topo span{
	color: #f49708
}

.btn-simula-topo:hover span{
	color: #fff;
}

.btn-simula-topo:hover{
	background: #f49708;
	color: #fff;
	text-decoration: none;

	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;	

	border: 3px solid #fff;	
}




/* MENU SWIPE */
nav {
    height: 100%;
    width: 280px;
    background-color: #3d5fa8;
    left: 0;
    top: 0;
    z-index: 100;
    position: fixed;
    overflow-y: auto;
    overflow-x: visible;
    -webkit-transform: translate(-280px,0);
        -ms-transform: translate(-280px,0);
            transform: translate(-280px,0);
}

.ssm-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.2);
    display: none;
    z-index: 100;
}


.is-navOpen{
  overflow: hidden;
}

.nav-flex{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-size: .8em;
	color: #fff;

	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;	
}

.fa-bars{
	font-size: 3.5em;	
}

.nav-flex:hover{
	text-decoration: none;
	color: #f49708;

	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;	
}

.nav-logo img{
	max-width: 70% !important;
	margin: 30px auto 20px auto;
}

.nav-menu-flex{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	padding: 20px 30px;
}

.nav-menu-flex a{
	color: #fff;
	font-size: 1.2em;
	text-transform: uppercase;
	width: 100%;
	text-align: left;
	padding: 5px;
	border-bottom: 1px solid rgba(255,255,255,.2);

	-webkit-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;	
}

.nav-menu-flex a:hover{
	background: #fff;
	color: #f49708;
	text-decoration: none;

	-webkit-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;	
}

.nav-exit{
	width: 100%;
	margin: 30px 0 0 0;
}

.nav-exit a{
	color: #fff;
	padding: 10px 15px;
	border: 1px solid #fff;
	border-radius: 5px;	

	-webkit-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;		
}

.nav-exit a:hover{
	color: #3d5fa8;
	padding: 10px 15px;
	border: 1px solid #fff;
	background: #fff;
	text-decoration: none;

	-webkit-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;		
}




.header-txt{
	display: block;
	position: absolute;
	z-index: 1;
	width: 100%;
	top: 38%;
}

.header-txt-bloc{
	color: #fff;
	font-size: 3.4em;
	margin: auto;
	width: 500px;
	font-weight: 700;
}

.header-pp{
	padding: 10px;
	background: #f49708;
}

.header-icon{
	text-align: center;
	width: 100%;
	position: absolute;
	z-index: 5;
	top: 71%;
}

.arrow{
	font-size: 6em;
	-webkit-animation: bouncearrow 1.5s infinite;
	        animation: bouncearrow 1.5s infinite;
	position: relative;
	color: #f49708;
}

@-webkit-keyframes bouncearrow{
	0%{ top: 0px;}
	50%{ top: 20px;}
	100%{ top: 0px;}
}

@keyframes bouncearrow{
	0%{ top: 0px;}
	50%{ top: 20px;}
	100%{ top: 0px;}
}



}